@charset "utf-8";
.box {
  /* 盒子水平居中 */
  margin: 0 auto;
  border: 1px solid orange;
  background-color: #fff;
}

.box > .goods {
  width: 100%;
  height: 100%;
}

.goods li {
  float: left;
}

.goods li img {
  width: 100%;
  height: 100%;
}

.current {
  border: 1px solid orange;
}

#begin img {
  border-radius: 50%;
}

/* 竖屏 */
/*==========  Mobile First Method  ==========*/
/* 特殊情况: 设备宽度小于等于320px*/
@media only screen and (max-width: 320px) and (orientation: portrait) {
  .box {
    width: calc(96vw + 2px);
    height: calc(96vw + 2px);
    margin-top: calc(2vw - 1px);
  }

  .goods li {
    width: 32vw;
    height: 32vw;
  }
}

/* Custom, iPhone Retina 设备宽度大于等于320px*/
@media only screen and (min-width: 320px) and (orientation: portrait) {
  .box {
    width: calc(90vw + 2px);
    height: calc(90vw + 2px);
    margin-top: calc(5vw - 1px);
  }

  .goods li {
    width: 30vw;
    height: 30vw;
  }
}

/* Extra Small Devices, Phones 设备宽度大于等于480px*/
@media only screen and (min-width: 480px) and (orientation: portrait) {
  .box {
    width: calc(84vw + 2px);
    height: calc(84vw + 2px);
    margin-top: calc(8vw - 1px);
  }

  .goods li {
    width: 28vw;
    height: 28vw;
  }
}

/* Small Devices, Tablets 设备宽度大于等于769px*/
@media only screen and (min-width: 769px) and (orientation: portrait) {
  .box {
    width: calc(57vw + 2px);
    height: calc(57vw + 2px);
    margin-top: calc(8vw - 1px);
  }

  .goods li {
    width: 19vw;
    height: 19vw;
  }
}

/* Medium Devices, Desktops 设备宽度大于等于992px*/
@media only screen and (min-width: 992px) and (orientation: portrait) {
  .box {
    width: calc(48vw + 2px);
    height: calc(48vw + 2px);
    margin-top: calc(8vw - 1px);
  }

  .goods li {
    width: 16vw;
    height: 16vw;
  }
}

/* Large Devices, Wide Screens 设备宽度大于等于1200px*/
@media only screen and (min-width: 1200px) and (orientation: portrait) {
  .box {
    width: calc(45vw + 2px);
    height: calc(45vw + 2px);
    margin-top: calc(8vw - 1px);
  }

  .goods li {
    width: 15vw;
    height: 15vw;
  }
}

/* 横屏 */
/*==========  Mobile First Method  ==========*/
/* 特殊情况: 设备高度小于等于320px*/
@media only screen and (max-height: 320px) and (orientation: landscape) {
  .box {
    width: calc(96vh + 2px);
    height: calc(96vh + 2px);
    margin-top: calc(2vh - 1px);
  }

  .goods li {
    width: 32vh;
    height: 32vh;
  }
}

/* Custom, iPhone Retina 设备高度大于等于320px*/
@media only screen and (min-height: 320px) and (orientation: landscape) {
  .box {
    width: calc(90vh + 2px);
    height: calc(90vh + 2px);
    margin-top: calc(5vh - 1px);
  }

  .goods li {
    width: 30vh;
    height: 30vh;
  }
}

/* Extra Small Devices, Phones 设备高度大于等于480px*/
@media only screen and (min-height: 480px) and (orientation: landscape) {
  .box {
    width: calc(84vh + 2px);
    height: calc(84vh + 2px);
    margin-top: calc(8vh - 1px);
  }

  .goods li {
    width: 28vh;
    height: 28vh;
  }
}

/* Small Devices, Tablets 设备高度大于等于769px*/
@media only screen and (min-height: 769px) and (orientation: landscape) {
  .box {
    width: calc(57vh + 2px);
    height: calc(57vh + 2px);
    margin-top: calc(8vh - 1px);
  }

  .goods li {
    width: 19vh;
    height: 19vh;
  }
}

/* Medium Devices, Desktops 设备高度大于等于992px*/
@media only screen and (min-height: 992px) and (orientation: landscape) {
  .box {
    width: calc(48vh + 2px);
    height: calc(48vh + 2px);
    margin-top: calc(8vh - 1px);
  }

  .goods li {
    width: 16vh;
    height: 16vh;
  }
}

/* Large Devices, Wide Screens 设备高度大于等于1200px*/
@media only screen and (min-height: 1200px) and (orientation: landscape) {
  .box {
    width: calc(45vh + 2px);
    height: calc(45vh + 2px);
    margin-top: calc(8vh - 1px);
  }

  .goods li {
    width: 15vh;
    height: 15vh;
  }
}
